* {
  margin: 0;
  padding: 0;
}
.attr{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  color: khaki;
  user-select: none;
}
.fa-github{
  color: khaki;
}
.attr a{
  text-decoration: none;
}
.outer-rect {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 400px;
  height: 150px;
  background-color: #f7fa93;
  border-radius: 75px;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.22),
    rgba(255, 255, 255, 0.25)
  );
}
.inner-rect {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 350px;
  height: 100px;
  background-color: white;
  border-radius: 50px;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.22),
    rgba(255, 255, 255, 0.25)
  );
}
.circle {
  position: absolute;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: white;
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.22),
    rgba(255, 255, 255, 0.25)
  );
  box-shadow: -9px 1px 16px 0 rgb(0 0 0 / 25%),
    9px 1px 12px 0 rgb(255 255 255 / 30%);
  color: limegreen;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1.5s;
}
